{% comment %}
  Requires:
    - tile-type: {String} 'header', 'large', 'medium', 'small', 'featured', 'footer', 'cta', 'images'
    - tile-content: {Object} captured content to be rendered in the tile, then pass object to the component

  Example:
      {% capture tile-content %}
        ...content...
      {% endcapture %}

      {% render 'component-tile', tile-type: 'large',  tile-content: {{tile-content}}  %}
{% endcomment %}

{% if tile-type == 'header' %}
  <header class="tile tile--large tile--primary">
    <div class="tile__track">
      {{ tile-content }}
    </div>
  </header>
{% elsif tile-type == 'footer' %}
  <footer class="tile tile--large tile--primary">
    <div class="tile__track">
      {{ tile-content }}
    </div>
  </footer>
{% else %}
  <div
    {% if tile-type == 'featured' %}
      class="tile tile--large tile--featured"
    {% elsif tile-type == 'cta' %}
      class="tile tile--large tile--tertiary"
    {% elsif tile-type == 'images' %}
      class="tile tile--small tile--images"
    {% elsif tile-type == 'large' %}
      class="tile tile--large"
    {% else %}
      class="tile"
    {% endif %}
  >
    <div
      {% if tile-type == 'featured' %}
        class="tile__track tile__container-query"

      {% else %}
        class="tile__track"
      {% endif %}
    >
      {{ tile-content }}
    </div>
  </div>
{% endif %}
