<div
  {% if tile-type == 'large' %}
    class="tile tile--large"
  {% elsif tile-type == 'medium' %}
    class="tile tile--medium"
  {% elsif tile-type == 'small' %}
    class="tile tile--small"
  {% elsif tile-type == 'featured' %}
    class="tile tile--large tile--featured"
  {% else %}
    class="tile"
  {% endif %}
>
  <div class="tile__track">
    {{ tile-content }}
  </div>
</div>

{% style %}
  .tile {
    padding: var(--spacing-padding-xlarge);
    border-radius: var(--border-radius-xlarge);
    overflow: clip;
  }

  .tile--large {
    width: min(100%, 1920px);
  }

  .tile--medium {
    /* width: min(100%, 1900px); */
    min-width: 50%;
    max-width: 1900px;
  }

  .tile--small {
    /* width: min(100%, 1900px); */
    min-width: none;
    max-width: 1900px;
  }

  .tile--featured {
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-background);
    font: var(--md-sys-typescale-body-medium);
    padding: 0;
  }

  .tile--secondary {
  }

  .tile--tertiary {
  }

  .tile__track {
    position: sticky;
    top: 0;
    align-self: flex-start;
    margin: 0 auto;
  }
{% endstyle %}
