{% comment %}
  Requires:
      -type: {String} - 'collection', 'search', or `blog`. Determines which filter to render.
      -object: {Object} - The collection, search, or blog object to render.

  Example:
      {% render 'component-collection', type: blog %}
{% endcomment %}

{% capture tile_content %}

    <div class="component-collection-container">
      {% render 'component-collection-filter', type: type, object: object %}
      {% render 'component-collection-list', type: type, object: object %}
    </div>

{% endcapture %}

{% render 'component-tile', tile-type: 'featured', tile-content: {{tile_content}} %}

{% style %}
  .component-collection-container {
    position: relative;
    display: flex;
    align-items: stretch;
    gap: var(--spacing-gap-small);
  }

  @container tile-large (max-width: 1000px) {
    .component-collection-container {
      flex-direction: column;
    }
  }
{% endstyle %}
