<details>
  <summary class="summary--large">
    <div class="dropdown-column">
      <h3>{{ block.settings.summary }}</h3>
      {% if block.settings.second_line != blank %}
        <div>{{ block.settings.second_line }}</div>
      {% endif %}
    </div>
    <span></span>
  </summary>
</details>
<div class="details">
  <div class="contents">
    {{ block.settings.contents }}
    {% content_for 'blocks' %}
  </div>
  <md-divider></md-divider>
</div>

{% style %}
  details {
    & summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      user-select: none;
      margin-block-start: var(--spacing-margin-medium);
      margin-inline: var(--spacing-margin-medium);
      font: var(--md-sys-typescale-body-xlarge);

      & span::after {
        font-family: 'Material Symbols Outlined';
        content: 'add';
        font-size: var(--md-sys-typescale-body-xlarge-size);
      }
    }

    &:is([open]) > summary > span::after {
      content: 'remove';
    }

    &:is([open]) + .details {
      grid-template-rows: 1fr;
      & .contents {
        padding-block: var(--spacing-padding-medium);
        opacity: 1;
        margin-bottom: var(--spacing-margin-medium);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-gap-small);

        &.filter__options:is([data-type='price_range']) {
          overflow-y: hidden;
        }
      }
    }
  }

  .details {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease-out;

    & .contents {
      overflow: hidden;
      padding-inline: var(--spacing-padding-medium);
      transition: opacity 0.3s ease-in;
      opacity: 0;
    }
  }

  .filter__options {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: var(--spacing-gap-xsmall);
    max-height: 10rem;

    & md-slider {
      grid-column: 1 / 3;
      --md-slider-label-container-height: 0.5rem;
      --md-slider-label-text-size: 0.75rem;
      --md-slider-label-text-line-height: 1;
    }

    & label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--spacing-gap-xxsmall);
      font: var(--md-sys-typescale-label-small);
    }
  }

  div {
    overscroll-behavior: contain;

    ::-webkit-scrollbar {
      width: 0.5rem;
      background-color: transparent;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--md-sys-color-on-surface-variant);
    }
  }

  .summary--large {
    margin-block-start: var(--spacing-margin-large);
    margin-block-end: var(--spacing-margin-small);

    & h3 {
      margin-block-start: 0;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Dropdown",
  "tag": null,
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "text",
      "id": "summary",
      "label": "Summary",
      "info": "The text that will be displayed in the dropdown summary. Think of it like the title of the dropdown.",
      "default": "This is a dropdown"
    },
    {
      "type": "inline_richtext",
      "id": "second_line",
      "label": "Second Line",
      "info": "A second line of text that will be displayed in the dropdown summary. Supports some limited styling. This is optional.",
      "default": "<p>This is a second line, <b>delete it</b> if you don't need it.</p>"
    },
    {
      "type": "richtext",
      "id": "contents",
      "label": "Contents",
      "info": "The contents of the dropdown. This is where you can put any content you want to be displayed when the dropdown is open.",
      "default": "<p>This is the contents of the dropdown. You can put anything you want here.</p>"
    }
  ],
  "presets": [
    {
      "name": "Dropdown"
    }
  ]
}
{% endschema %}
