{{ block.settings.html_embed }}

{% schema %}
{
  "name": "HTML Embed",
  "settings": [
    {
      "type": "html",
      "id": "html_embed",
      "label": "HTML Embed",
      "info": "Great for adding many things like embedded forms and video.",
      "placeholder": "<div>Add your HTML code here</div>"
    }
  ],
  "presets": [{ "name": "HTML Embed" }]
}
{% endschema %}
