<div>
  {{ block.settings.copy }}
</div>

{% schema %}
{
  "name": "Rich Text",
  "settings": [
    {
      "type": "richtext",
      "id": "copy",
      "label": "Copy",
      "info": "Enter the text you want to display. Use the Rich Text editor to add links, lists, and other formatting.",
      "default": "<p>This is a <b>Rich Text Block</b>. It's meant for longer, <i>formatted</i> text.</p>"
    }
  ],
  "presets": [
    {
      "name": "Rich Text"
    }
  ]
}
{% endschema %}
