<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-822de3f9-64de-4e90-97f2-f055c4548766" data-elfsight-app-lazy></div>

{% stylesheet %}
  .eapps-instagram-feed-posts-item-image {
    border-radius: initial;
  }

  .instagram-media .instagram-media-rendered,
  #instagram-embed-0 {
    width: 100%;
    border: 0 !important;
    background-color: red !important;
  }

  #eapps-instagram-feed-1 .eapps-instagram-feed-header {
    background: none;
  }
{% endstylesheet %}

{% javascript %}
  // (function () {
  //   var script = document.createElement('script');
  //   script.src = '//www.instagram.com/embed.js';
  //   script.async = true;
  //   script.defer = true;
  //   document.body.appendChild(script);
  // })();
{% endjavascript %}

{% schema %}
{
  "name": "Home Instagram Feed",
  "class": "tile tile--medium",
  "settings": [],
  "presets": [
    {
      "name": "Home Instagram Feed",
      "category": "Home Page",
      "settings": {}
    }
  ]
}
{% endschema %}
