<div class="tile__track">
  {% case section.settings.tile_type %}
    {% when 'overview' %}
      <h2 class="display--small">Overview</h2>
      <p>
        {{ product.description }}
      </p>
    {% when 'deep_dive' %}
      {% if product.metafields.custom.deep_dive %}
        <h2 class="display--small">Deeper Dive</h2>
        {{ product.metafields.custom.deep_dive | metafield_tag }}
      {% else %}
        <style>
          #shopify-section-{{ section.id }} {display:none}
        </style>
      {% endif %}
  {% endcase %}
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Tile - Medium",
  "class": "tile tile--medium",
  "settings": [
    {
      "type": "select",
      "id": "tile_type",
      "label": "Type",
      "options": [
        {
          "value": "blank",
          "label": "Blank"
        },
        {
          "value": "overview",
          "label": "Overview"
        },
        {
          "value": "deep_dive",
          "label": "Deep Dive"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    },

    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Tile - Medium",
      "settings": {}
    }
  ]
}
{% endschema %}
