<div class="tile__track">
  {% for block in section.blocks %}
    {% if block.settings.theme_image %}
      {{ block.settings.image.src | image_url: width: 600 | image_tag: loading: 'eager', id: 'theme-image' }}
    {% else %}
      {{ block.settings.image.src | image_url: width: 600 | image_tag: loading: 'lazy' }}
    {% endif %}
  {% endfor %}
</div>

{% stylesheet %}
  .tile__track:has(#theme-image) {
    height: calc(100dvh - (var(--spacing-padding-xlarge) * 2));
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Tile - Images",
  "class": "tile tile--small tile--images",

  "settings": [],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "theme_image",
          "label": "Theme Image?"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tile - Images",
      "category": "tiles",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
