<header class="tile">
  <div class="hero__overline"></div>
  <h1>404</h1>
  <div class="hero__subheader"></div>
</header>

<div class="tile tile--secondary">
  <h2>Oops! Looks Like This Page Took a Spa Day! 🛀✨</h2>
  <p>
    We can't find the page you're looking for, but we've got plenty of relaxing options waiting for you back home. Take
    a step back and find your path to serenity!
  </p>
  <md-filled-button onclick="history.back()">Back</md-filled-button>
</div>
