{% render 'component-header', title: collection.title %}

{%- if collection.description != blank -%}
  <p>{{ collection.description }}</p>
{%- endif -%}

{% render 'component-collection', type: collection %}
