{% render 'component-header', title: 'Collections' %}

{% capture tile-content %}
  <div class="collections-container">
    <md-outlined-button
      href="/collections/all"
    >
      All
    </md-outlined-button>
    {% for collection in collections %}
      <md-outlined-button
        href="{{ collection.url }}"
      >
        {{- collection.title -}}
      </md-outlined-button>
    {% endfor %}
  </div>
{% endcapture %}

{% render 'component-tile', tile-type: 'featured', tile-content: {{tile-content}} %}

{% style %}
  .collections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--spacing-gap-small);
    padding: var(--spacing-padding-xlarge);
  }
{% endstyle %}
