<header class="tile">
  <div class="hero__overline"></div>
  <h1>{{ page.title }}</h1>
</header>

<img
  src="../assets/Surrealism_style_pattern.png"
  alt="Surrealism Style Pattern"
  class="tile"
  id="theme-image"
  loading="eager"
  width="100"
  height="100"
>

{% form 'contact', class: 'tile tile--highlight' %}
  <md-outlined-text-field label="Name" required></md-outlined-text-field>
  <md-outlined-select label="Pronouns">
    <md-select-option value="">Select one...</md-select-option>
    <md-select-option value="Ae/Aer"><div slot="headline">Ae/Aer</div></md-select-option>
    <md-select-option value="Ey/Em"><div slot="headline">Ey/Em</div></md-select-option>
    <md-select-option value="He/Him"><div slot="headline">He/Him</div></md-select-option>
    <md-select-option value="Per/Per"><div slot="headline">Per/Per</div></md-select-option>
    <md-select-option value="She/Her"><div slot="headline">She/Her</div></md-select-option>
    <md-select-option value="They/Them"><div slot="headline">They/Them</div></md-select-option>
    <md-select-option value="Ve/Ver"><div slot="headline">Ve/Ver</div></md-select-option>
    <md-select-option value="Xe/Xem"><div slot="headline">Xe/Xem</div></md-select-option>
    <md-select-option value="Ze/Hir"><div slot="headline">Ze/Hir</div></md-select-option>
  </md-outlined-select>
  <md-outlined-text-field label="Email" type="email"></md-outlined-text-field>
  <md-outlined-text-field label="Phone" type="tel"></md-outlined-text-field>
  <md-outlined-text-field label="Message" type="textarea" required></md-outlined-text-field>
  <div>Opt In</div>
  <div class="option-wrapper">
    <md-checkbox
      id="opt-in-email"
      aria-label="I want to receive updates about Collage Spa, like new services, new products, and sales"
      touch-target="wrapper"
    >
    </md-checkbox>
    <label for="opt-in-email">
      I want to receive updates about Collage Spa, like new services, new products, and sales.
    </label>
  </div>
  <div class="option-wrapper">
    <md-checkbox
      id="opt-in-outreach"
      aria-label="I want more info on Collage Community Outreach and how I can help"
      touch-target="wrapper"
    >
    </md-checkbox>
    <label for="opt-in-outreach"> I want more info on Collage Community Outreach and how I can help. </label>
  </div>
  <md-filled-button type="submit">Send</md-filled-button>
{% endform %}
