{% render 'component-header', title: page.title %}

{% capture tile-content %}
    <div class="rich-text-block">{{ page.content }}</div>
{% endcapture %}

{% render 'component-tile', tile-type: 'large', tile-content: {{tile-content}} %}

{% style %}
  .rich-text-block {
    max-width: 60ch;
  }
{% endstyle %}
