<h2>Returns on Online Purchases</h2>
<p>
  We offer a full refund or exchange for all unopened item(s), if the return is made within 30 days. Any opened item
  will only be eligible for exchange or store credit at 50% value. All returns must be made within 30 days from the
  original purchase date.
</p>
<p>
  We may ask that large returns be shipped back. Refunds will not include shipping costs. We aren’t liable for shipping
  costs if you choose to return the products. To initiate a return, please email us with your concern &amp; order
  number:
</p>
<p>
  <a href="mailto:info@collagespa.com">info@collagespa.com</a>
</p>
<p>
  After 30 days, we may provide a product exchange or 50% partial store credit on your unopened purchase if you aren’t
  pleased with your order. This is limited to 60 days after purchase. Exchanges are only eligible for the same product,
  or an alternate product of equal or lesser value. After 60 days, we will not exchange or credit an order.
</p>
<h2>Broken Package</h2>
<p>
  We take extra care to ensure your package arrives safely, so we’ll replace any items that arrived damaged in transit.
  Please email us as soon as you receive your order. Photos of the damaged package may be requested. Please also file a
  claim with USPS, as they are responsible for the damage.
</p>
<h2>Returns with Outside Purchase</h2>
<p>
  Items not purchased directly from our website aren’t eligible for return or exchange. Collage Spa reserves the right
  to limit returns if we have reason to suspect misuse of our generous return policy (such as excessive returns,
  reselling, or fraud).
</p>
<h2>Contact Us</h2>
<p>
  For more information about our Returns &amp; Exchanges Policy, if you have questions, or if you would like to make a
  complaint, please contact us by e‑mail:
</p>
<p>
  <a href="mailto:brian@collagespa.com">brian@collagespa.com</a>
</p>
<p>or by mail using the details provided below:</p>
<p>
  Collage Spa<br>
  [Re: Privacy Compliance Officer]<br>
  254 East Davis Street<br>
  Culpeper VA 22701<br>
  United States
</p>
