<h2>Orders Placed Before 2pm</h2>
<p>Asdf</p>
<h2>Contact Us</h2>
<p>
  For more information about our Shipping Policy, if you have questions, or if you would like to make a complaint,
  please contact us by e‑mail at:
</p>
<p>
  <a href="mailto:brian@collagespa.com">brian@collagespa.com</a>
</p>
<p>or by mail using the details provided below:</p>
<p>
  Collage Spa<br>
  [Re: Privacy Compliance Officer]<br>
  254 East Davis Street<br>
  Culpeper VA 22701<br>
  United States
</p>
